[data-reach-dialog-content] {
  @media (min-width: 640px) {
    width: 75% !important;
    position: static !important;
    @apply border-4 border-neutral;
    @apply rounded-lg;
    @apply bg-base-100;
  }

  @media (min-width: 0px) and (max-width: 639px) {
    width: 100% !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    @apply border-4 border-neutral border-b-0 rounded-b-none;
    @apply rounded-lg;
    @apply bg-base-100;
  }
}
